
# Google AI

GOOGLE_API_KEY=your_google_api_key


# Models


LLM_MODEL=your llm model name

EMBEDDING_MODEL=models/(your embedding)

# ChromaDB

CHROMA_DB_PATH=./chroma_db 




# Uploads


UPLOAD_FOLDER=./data/uploads


# Text Splitter


CHUNK_SIZE=1000

CHUNK_OVERLAP=200


# Retrieval


TOP_K=4