# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Streamlit
.streamlit/

# Data
data/uploads/*
!data/uploads/.gitkeep

data/chroma_db/*
!data/chroma_db/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log